In [3]:
import pandas as pd

def parse_tl_csv(filepath, skiprows=3):
    df = pd.read_csv(filepath, skiprows=skiprows)
    
    df = df.melt(
        id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
        var_name="Year",
        value_name="Value"
    )
    
    df["Year"] = pd.to_numeric(df["Year"], errors="coerce").astype("Int64")
    df = df.dropna(subset=["Value"])
    return df

In [20]:
cpi_df = parse_tl_csv("national_data/consumer price idx/cpi.csv")
export_growth_df = parse_tl_csv("national_data/export growth/export_growth.csv")
gdp_growth_df = parse_tl_csv("national_data/gdp growth/gdp_growth.csv")
import_growth_df = parse_tl_csv("national_data/import growth/import_growth.csv")
unemployment_df = parse_tl_csv("national_data/unemployment/unemployment.csv")

In [22]:
cpi_df.rename(columns={'Value': 'Consumer price index (2010 = 100)'}, inplace=True)
cpi_df.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

export_growth_df.rename(columns={'Value': 'Exports (Annual % Growth)'}, inplace=True)
export_growth_df.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

gdp_growth_df.rename(columns={'Value': 'GDP (Annual % Growth)'}, inplace=True)
gdp_growth_df.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

import_growth_df.rename(columns={'Value': 'Import (Annual % Growth)'}, inplace=True)
import_growth_df.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

unemployment_df.rename(columns={'Value': 'Unemployment %'}, inplace=True)
unemployment_df.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

In [23]:
final_df = pd.merge(cpi_df, export_growth_df, on=['Year', 'Country Name'], how='inner')
final_df = pd.merge(final_df, gdp_growth_df, on=['Year', 'Country Name'], how='inner')
final_df = pd.merge(final_df, import_growth_df, on=['Year', 'Country Name'], how='inner')
final_df = pd.merge(final_df, unemployment_df, on=['Year', 'Country Name'], how='inner')

In [24]:
final_df

,Country Name,Year,Consumer price index (2010 = 100),Exports (Annual % Growth),GDP (Annual % Growth),Import (Annual % Growth),Unemployment %
0,Australia,1991,61.680541,11.256515,-0.382260,-5.715217,9.586
1,Austria,1991,67.910971,2.937297,3.441627,5.114366,3.420
2,Belgium,1991,68.578775,3.055391,1.833074,2.859223,6.984
3,Burkina Faso,1991,50.227944,-0.413185,9.069984,-0.861015,2.477
4,Bangladesh,1991,34.299420,-3.091548,3.485228,-15.017444,2.200
...,...,...,...,...,...,...,...
4364,Uganda,2023,209.931348,0.273331,5.336973,-4.387729,2.787
4365,Uruguay,2023,277.191092,0.695537,0.367475,5.997912,8.355
4366,United States,2023,139.735794,2.764325,2.887556,-1.172116,3.638
4367,Viet Nam,2023,183.073410,-1.310559,5.046431,-3.107651,1.645
4368,South Africa,2023,194.839466,3.731622,0.698485,3.948942,32.098