In [25]:
import pandas as pd

In [26]:
ag_growth = pd.read_csv("datasets/micro_datasets/agri_timeline.csv")
industry_growth = pd.read_csv("datasets/micro_datasets/industry_timeline.csv")
manu_growth = pd.read_csv("datasets/micro_datasets/manufacturing_timeline.csv")
service_growth = pd.read_csv("datasets/micro_datasets/service_timeline.csv")

In [27]:
def parse_tl_csv(df): 
    # fortmat to long format
    df_converted = df.melt(
        id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
        var_name="Year",
        value_name="Value"
    )

    df_converted["Year"] = pd.to_numeric(df_converted["Year"], errors="coerce").astype("Int64")
    df_converted = df_converted.dropna(subset=["Value"])
    
    return df_converted

In [28]:
ag_growth = parse_tl_csv(ag_growth)
industry_growth = parse_tl_csv(industry_growth)
manu_growth = parse_tl_csv(manu_growth)
service_growth = parse_tl_csv(service_growth)

In [29]:
ag_growth.rename(columns={'Value': 'Agriculture Value Added (Annual % Growth)'}, inplace=True)
ag_growth.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

industry_growth.rename(columns={'Value': 'Industry Value Added (Annual % Growth)'}, inplace=True)
industry_growth.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

manu_growth.rename(columns={'Value': 'Manufacturing Value Added (Annual % Growth)'}, inplace=True)
manu_growth.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

service_growth.rename(columns={'Value': 'Service Value Added (Annual % Growth)'}, inplace=True)
service_growth.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis=1, inplace=True)

In [30]:
final_df = pd.merge(ag_growth, industry_growth, on=['Year', 'Country Name'], how='inner')
final_df = pd.merge(final_df, manu_growth, on=['Year', 'Country Name'], how='inner')
final_df = pd.merge(final_df, service_growth, on=['Year', 'Country Name'], how='inner')

In [35]:
final_df[final_df['Country Name'] == "United States"]

Empty DataFrame
Columns: [Country Name, Year, Agriculture Value Added (Annual % Growth), Industry Value Added (Annual % Growth), Manufacturing Value Added (Annual % Growth), Service Value Added (Annual % Growth)]
Index: []